.soon {
  margin: 3%;
  text-align: center;

  &__title {
    font-size: pxToRem(40);
    margin-bottom: 1%;
  }

  &__divs {
    @include myFlex();
    height: 6px;
    @include center();

    &--yellow {
      width: 13%;
      border-radius: 3px;
      background-color: $c-LighteningYellow;
      margin-right: 0.3%;
    }

    &--green {
      width: 20%;
      border-radius: 3px;
      background-color: $c-Emerald;
    }
  }

  &__products {
    @include myFlex();
    @include FlexOptions(80%, wrap);
    @include center();
    margin: 5%;
  }
}

.soonproduct {
  @include FlexOptions(25%);
  border: 1.5px $c-Black solid;
  border-radius: 10px;
  margin: 1.5%;
  height: 350px;
  color: $c-Black;
  cursor: pointer;

  &__img {
    width: 60%;
    height: 170px;
    margin: 5%;
  }

  &__title {
    font-family: $f-Rubik;
    font-size: pxToRem(28);
    margin-bottom: 0;
  }

  &__mademe {
    font-size: pxToRem(16);
    margin: 0;
  }

  &__info {
    border-radius: 10px;
    font-weight: bold;
    background-color: $c-LighteningYellow;
    width: 80%;
    padding: 4%;
    margin: 3% auto;

    span {
      font-weight: 100;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .soon__products {
    margin: 5% 0;
  }
  .soonproduct {
    flex-basis: 30%;
  }
}

@media only screen and (max-width: 500px) {
  .soonproduct {
    flex-basis: 45%;
  }
}
