//Colors
    $c-White: #ffffff;
    $c-GrayNickel: #BEBFBA;
    $c-TurquoiseBlue: #61dee2;
    $c-Malibu: #8cb2ff;
    $c-CornflowerBlue: #5f94fe;
    $c-Denim: #1A60D5;
    $c-Emerald: #5ed36c;
    $c-Atlantis: #9dcb45;
    $c-Sushi: #81af2a;
    $c-Dell: #445D14;
    $c-Sunglow: #ffcb2a;
    $c-LighteningYellow: #fccf21;
    $c-Korma: #934a10;
    $c-RadicalRed: #ff4b64;
    $c-BrickRed: #ce2e44;
    $c-PersianPlum: #6e1824;
    $c-Black: #000000;

//Fonts
    $f-Lato: 'Lato', sans-serif;
    $f-Rubik: 'Rubik', sans-serif;